---
import Boton from "../components/Boton.astro"
import Layout from "../layouts/Layout.astro"
import Label from "../components/Apuestalabel.astro"
import BotonSubmit from "../components/BotonSubmit.astro";
const response = await fetch('http://localhost:4322/usuarios');
const usuarios = await response.json();
---

<Layout title="login">
  <main>
    <section>
      <Boton href=".." title="regresar" color="verde"/>
    </section>
    <section>
      <article class="title">
        <h1>INICIAR SESIÓN</h1>
      </article>
      <article class="form">
        <form id="login-form">
          <Label tipo="email" id="correo" nombre="correo" descripcion="Correo Electrónico" />
          <Label tipo="password" id="contrasena" nombre="contrasena" descripcion="Contraseña" />
          <BotonSubmit title="Iniciar Sesion" color="azul" typeButton="submit" />
        </form>
      </article>
    </section>
    <h1>Lista de Usuarios</h1>
    <ul>
      {usuarios.map((usuario) => (
        <li>{usuario.nombre_usuario} - {usuario.apellidos} - {usuario.correo} -{usuario.password}</li>
      ))}
    </ul>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('login-form');
  
    function handleLoginFormSubmit(event) {
      event.preventDefault();
      const formData = new FormData(event.target);
      const data = Object.fromEntries(formData.entries());
  
      fetch('http://localhost:4322/login', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
})
.then(response => response.json())
.then(result => {
    if (result.success) {
          localStorage.setItem('id_usuario', result.id_usuario); // Verifica que 'id_usuario' existe en 'result'
          localStorage.setItem('nombre_usuario', result.nombre_usuario);
          alert(`Bienvenido, ${result.nombre_usuario}`);
          window.location.href = '/menu'; // Redirige a la página /menu
        } else {
          alert("Credenciales incorrectas");
        }
      })
      .catch((error) => {
        console.error('Error en la solicitud:', error);
        alert("Error en el servidor");
      });
    }
  
    if (form) {
      form.addEventListener('submit', handleLoginFormSubmit);
    }
});

</script>  