---
interface Props {
  fecha: Date;
  evento: string;
  descripcion: string;
  momio: number;
  cantidad_apostada: number;
  resultado: 'ganada' | 'perdida' | 'push';
}

const { fecha, evento, descripcion, momio, cantidad_apostada, resultado } = Astro.props;

let ganancia: number;
if (resultado === 'ganada') {
  if(momio>0)
    ganancia = cantidad_apostada * (momio / 100) + cantidad_apostada;
  else
  ganancia = cantidad_apostada * (100 / Math.abs(momio)) + cantidad_apostada;
} else if (resultado === 'perdida') {
  ganancia = 0;
} else if (resultado === 'push') {
  ganancia = cantidad_apostada;
}
---

<div class="apuesta">
  <h2>Detalle de Apuesta</h2>
  <article>
    <p> Evento:  {evento}</p>
  </article>
  <article class="flex2"id="descripcion">
    <p> Descripción:  {descripcion}</p>
    <p> Momio:  {momio}</p>
  </article>
  <article class="flex2">
    <p>Fecha:  {fecha}</p>
    <p> Resultado:  {resultado}</p>
  </article>
  <article class="flex2" id="dinero">
    <p> Cantidad Apostada:  {cantidad_apostada}</p>
    <p> Ganancia:  {ganancia}</p>
  </article>
</div>

<style>
.apuesta {
  background-color: #f9f9f9; /* Fondo claro para un look moderno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  padding: 20px; /* Espaciado interno */
  max-width: 400px; /* Ancho máximo */
  margin: 20px auto; /* Centrar y espaciado externo */
  font-family: 'Arial', sans-serif; /* Fuente limpia */
  color: #333; /* Color de texto oscuro */
}

.apuesta h2 {
  font-size: 24px; /* Tamaño de fuente más grande para el título */
  margin-bottom: 15px; /* Espaciado debajo del título */
  color: #007BFF; /* Color del título */
}

.apuesta p {
  font-size: 16px; /* Tamaño de fuente para el texto */
  margin-bottom: 10px; /* Espaciado debajo de cada párrafo */
  line-height: 1.6; /* Altura de línea para mejor legibilidad */
}

.apuesta p strong {
  color: #007BFF; /* Resalta elementos clave */
}

article.flex2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-between;
}

</style>
